NEXT_PUBLIC_SUPABASE_URL=https://najtbkvpmzhvcskqqtvu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hanRia3ZwbXpodmNza3FxdHZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0OTU5NjAsImV4cCI6MjEwNjA3MTk2MH0.XOvbTcLWYR_xmRFtXna-1jniZXDYjNf39IxXLbS1GWA
